// import globals
@import "../../assets/styles/scss/global.scss";

// home component
.header {
  text-align: center;
  margin-bottom: 1.5em;

  &__wrapper {
    @include media-max(md-max) {
      padding: 6em 0;
    }
    @include media-min(lg-min) {
      padding: 7em 4em;
    }
  }

  &__title {
    font-weight: $xbd;
    letter-spacing: 0.7px;
    @include media-max(xs-max) {
      line-height: 165%;
      font-size: $h2;
    }
    @include media-min(sm-min) {
      line-height: 165%;
      @include h1;
    }
    @include media-min(lg-min) {
      line-height: 150%;
      font-size: $d6;
      color: black;
    }
    @include media-min(xl-min) {
      font-size: $d5;
      color: black;
    }
  }

  &__stroke {
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.2px;
    @include media-min(md-min) {
      -webkit-text-stroke-width: 1.5px;
    }
    -webkit-text-stroke-color: black;
  }

  &__scroll {
    margin-top: 8em;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
  }

  &__line1 {
    margin-bottom: 3.9em;
  }

  &__text {
    font-weight: $sbd;
    font-size: $cap;
    transform: rotate(90deg);
    margin-top: 3em;
    margin-left: 0.1em;
    letter-spacing: 0.5px;
  }

  &__line2 {
    margin-top: 4em;
  }
}

// inspirations
.inspo {
  // background-color: red;
  text-align: center;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__line1,
  &__line2 {
    @include media-max(xs-max) {
      display: none;
    }
  }

  &__text {
    font-weight: $xbd;
    font-size: $cap;
    letter-spacing: 0.5px;
    margin: 0 2em;
  }

  // content
  &__content {
    @include media-min(md-min) {  
    display: grid;  
      grid-template-columns: 1fr 1fr;
      column-gap: 15px;
    }
    position: relative;
    margin-top: 2.5em;
  }

  &__contentItem {
    margin-bottom: 1em;
  }
}
